.is-small {
  font-size: 0.8em;
}

.title {
  color: white;
}

.has-text-uppercase {
  text-transform: uppercase;
}

.w-light-blue {
  color: var(--woonkly-light-blue);
}

.glowing-circle {
  animation: shadowmove 4s ease-out infinite alternate;
  border-radius: 50%;
}
// TODO: Add more classes for all the others woonkly colors
