$woonkly-black-blue: #09072e;
$woonkly-light-blue: #00d3ff;
$woonkly-dark-blue: #02004a;
// w/opacity
$woonkly-light-blue-opacity: rgba(0, 211, 255, 0.5);

:root {
  --woonkly-black-blue: #{$woonkly-black-blue};
  --woonkly-light-blue: #{$woonkly-light-blue};
  --woonkly-dark-blue: #{$woonkly-dark-blue};
  --woonkly-light-blue-opacity: #{$woonkly-light-blue-opacity};
  --woonkly-gradient-1: linear-gradient(to rigth, #{$woonkly-dark-blue} 0%, #{$woonkly-light-blue} 100%);
}