$woonkly-background-dark: #05003b;
$woonkly-background-light: #04013e;
$woonkly-dark-blue: #09072f;

:root {
  --woonkly-dark-blue: #{$woonkly-dark-blue};
  --woonkly-gradient-1: linear-gradient(to rigth, #{$woonkly-background-dark} 0%, #{$woonkly-background-light} 100%);
}